@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

*,*::after,*::before{box-sizing:border-box;}
a{text-decoration: none;font-style: none;}


html, body {width:100%;}
#one{width:100%;height: 70px;position: fixed;
    left: 0; top: 0px; 
    text-align: center;background: #fff;z-index: 9999;}
#my {position:absolute;right: 5px;top: 15px;}
#logo{margin-top: 15px;} 


#menu-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%; 
    top: 0;
    right: 0;
    background: #fff;
    z-index: 999999;} 


/*메뉴*/

a { text-decoration: none; color: #000;}

#menu-wrapper {     cursor: pointer;   }

 #hamburger-menu{
    position: absolute;
    width: 25px;
    height: 20px; cursor: pointer;
    left: 15px;    top: 25px;
    z-index: 999999;
    } 

#hamburger-menu span{
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
    }

#hamburger-menu span:nth-child(1) {    top: 0;  }
#hamburger-menu span:nth-child(2) {    top: 9px;  }
#hamburger-menu span:nth-child(3) {     top: 18px;  }

.menu{
    width: 100%;
    height: 100%;
    transform: translateY(10%);
    margin-left: -10%        
}

.menu > li{
text-align: right; 
line-height:3rem;
background:#fff;
z-index: -9999;
font-size:2em;
margin: 30px 0;

}

.menu>li> ul > li{
text-align: right; 
line-height:3rem;
background:#ededed;;
z-index: -9999;
font-size: 1.5rem;
width: 110%;
padding: 0 10%;
} 



.menu > li:hover .submenu{
   
 height: 100%;
 transition-duration:1s;
background:rgba(0, 0,s 0, 0.4);
width: 110%;

}

.menu > li:hover .submenu>li>a{
    width:100%;  
    height: 100%;
   width: 110%;
   padding: 0 10%;
}


.cross{
    background: none;
    position: absolute;
    left: 3px; top: 20px;
    color: #111; border: 0;
    font-size: 3.5em;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99999999;
}


#m-menu li  ul {display:none;}

/*메뉴끝*/






 /* #mmain{width: 100%; margin-top: 80px;}
#mmain img{width: 100%;}  */
 #mmain{margin-top:70px;width: 100%; height: 100vh;}
#mmain img{width: 100%;height: 100%;} 



/* 예약*/

/* #reservation{width: 100%; background: #ccc;height: 70px;}
 
 #reservation form{width:90%;display: flex;align-items: center;line-height: 37px;justify-content: space-between;margin: 0 auto;top: 3px;}

 #reservation .CheckIn, .CheckOut {background: none; border:none;height: 20px;color: #fff;text-align: center;} 


 #reservation #box1{background: #666; height: 54px;color: #fff;width: 25%;border-radius: 10px;text-align: center;margin-top: 5px;border:2px solid #fff;margin-right: 7px ;}

 #reservation .box1{color: #fff;background: none; border: none; ;font-family: "Montserrat", sans-serif;
    text-align: center;
}


 #reservation #box2{display: inline-block;background: #666; height: 54px;color: #fff;width: 25%;border-radius: 10px;text-align: center;border:2px solid #fff;margin-right: 7px}

#reservation .box2{color: #fff;background: none; border: none; font-family: "Montserrat", sans-serif;} 

.box6{display: inline-block;width: 25%;}
.box6 p{color:#515861; font-size:0.9rem;height: 37px; font-weight:bold; margin-bottom:5px;font-family: "Montserrat", sans-serif;}
.minus{width:25%; height:54px; appearance:none; border-radius:5px 0 0 5px; background:#666; color:#fff; font-size:0.9rem; font-weight:bold; border: 2px solid #fff; border-right: none;}

.plus{width:25%; height:54px; appearance:none; border-radius:0 5px 5px 0; background:#666; color:#fff; font-size:0.9rem; font-weight:bold;  border: 2px solid #fff; border-right: none;}

.mpbox{width:25%; height:54px; text-align:center; font-size:1.2rem;border: 2px solid #fff; border-right: none;border-left: none;}
.box6 input{float:left; display:block;}

button{width:25%; height:54px; appearance:none;border: 2px solid#fff; border-radius:5px; background:#666; color:#fff; font-size:0.9em; font-weight:bold;font-family: "Montserrat", sans-serif;}  */

/*예약끝 */


#text1{color: #db8e2b;font-size: 1..3rem; text-align: center; margin-top: 80px; font-family: "Montserrat", sans-serif;}
#text2{font-size: 2rem; text-align: center;margin-top: 30px; font-weight: bold; font-family: "Montserrat", sans-serif;}
#text3{text-align: center; font-size: 0.9rem;margin-top: 30px;;}

#show{width: 100%;height: 375px;}
#show .imgbox{position: relative; width: 100%;height: 350px;}
#show p{font-size: 0.9rem; padding-left: 10px;
padding-top: 20px;width: 47%;  overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
line-height: 1.2;
word-wrap: break-word;
display: -webkit-box;
-webkit-line-clamp: 4 ;
-webkit-box-orient: vertical;
}
.big-box{background:#db8e2b; width: 65%; margin:-7px 0 30px 20px ; height: 230px;}

.big-box h2{font-family: "Montserrat", sans-serif;color: #fff; font-size: 1.7em ;padding-left: 10px;padding-top: 20px;}


#more{width: 70px; height: 30px;background: rgba(0, 0, 0, 0.8); text-align: center; font-size: 1rem; margin: 20px;}
#more a{color: #fff;left: 50%; transform: translate(-50%);}

#show img{right: 20px;position: absolute;top:60px;height: 250px;}


#three{text-align: center;position: relative;}
#event img{ width: 90%; height: 450px;margin-top: 40px;}
#cover {width: 90%; height:450px; background: rgba(0, 0, 0, 0.4);position: absolute;top: 40px;left: 50%;transform: translate(-50%);}
#cover ul li h2{color: #fff;margin-top:60px; margin-bottom:30px;font-size:  2rem;font-family: "Montserrat", sans-serif;}
#cover ul li a{ font-size: 2rem; line-height: 50px;font-family: "Montserrat", sans-serif;color: #fff;}
#cover ul li a:hover{border-bottom: 3px solid #f4f4f4;}



/*마지막*/
#new #title{position:relative;width: 100%; height:340px; background: #102c4f; color:#fff; font-size: 2rem; font-family: "Montserrat", sans-serif;text-align: center; padding-top: 15px;top:80px;display:block;}


.container {
    margin-top: -40px;
}
.item img{width: 100%;height: 173px;margin-top: 18px;margin-bottom: 18px;}
.item ul li a span{color:#fff; font-size: 100%; font-family: "Montserrat", sans-serif;/*left: 50%; transform: translateY(-50%);*/}

/*footer*/

#m-footer{border-top:1px solid #000; display:block;margin-top:120px}
#m-right h3 {text-align:center; font-weight:bold;font-size: 1.5rem;margin:15px}

#m-left h3 {text-align:center; font-weight:bold;font-size: 1rem;margin:15px}


#m-footer section{display:flex;flex-wrap:wrap;}
/* section #right h3{border-bottom: 1px solid #000;} */

section #m-left{left:5px;width: 50%;}
section #m-left p {padding:0 0 3px 15px;font-size:0.9em;}
section #m-left img{margin-top: 12px;}
section #m-left #m-by{margin-left: 15px;}
section #m-left p img{margin: 3px 0 0 0; }

section #m-right{width:50%;text-align: center;}

#aa{display: flex;margin-top: -6px;}
#m-right ul li a{color: #000;font-size: 0.9em;}
#m-right #m-right1{width:45%;margin-top: 15px;clear: both;}

 #m-right #m-right2{width:45%;margin-top: 15px;} 
section #m-right #m-last{width:90%;text-align:left;clear: both;margin-top: -5px;}
section #m-right #m-last p{margin-top: 4px;font-size: 0.75em;}

.custom-fraction {text-align:right; margin:15px 5px 0 0;}


#z{margin-bottom: 5px;}
#m-last img{margin-top: 15px;}



#t-two, #t-three {display: none;}


#one{display: block;}  
#main{display: block;}
#two{display: block!important;}
#three{display: block;}
#four{display: block;}

#t-one{display: none;}
#t-main{display: none;}
#t-two{display: none;}
#t-three{display: none!important;} 
#t-four{display: none;}

#p-one{display: none;}
#p-two{display: none;}
#pmain{display: none;}
#p-three{display: none!important;}
#p-four{display: none!important;}

#m-footer{display: block;}
#footer{display: none;}
/*테블릿 시작641~800*/

@media screen and (min-width:800px){

    #one{display: none;}  
    #main{display: none;}
    #two{display: none!important;}
    #three{display: none;}
    #four{display: none;}

    #t-one{display: block;}
    #t-main{display: block;}
    #t-two{display: block;}
    #t-three{display: block!important;}
    #t-four{display: block;} 

    #p-one{display: none;}
    #p-two{display: none;}
    #pmain{display: none;}
    #p-three{display: none;}
    #p-four{display: none;}

    #m-footer{display: none;}
    #footer{display: block;}
}

#t-one{width:100%;height: 70px;position: fixed;
    left: 0; top: 0px; 
    text-align: center;background: #fff;z-index: 9999;}

    #t-my {position:absolute;right: 15px;top: 13px;}
    #t-logo{margin-top: 5px;}


       
    
    /*메뉴시작*/
    
  
#t-menu-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%; 
    top: 0;
    right: 0;
    background: #fff;
    z-index: 999999;} 


/*메뉴*/

a { text-decoration: none; color: #000;}

#menu-wrapper {     cursor: pointer;   }

 #t-hamburger-menu{
    position: absolute;
    width: 25px;
    height: 20px; cursor: pointer;
    left: 15px;    top: 25px;
    z-index: 999999;
    } 

#t-hamburger-menu span{
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
    }

#t-hamburger-menu span:nth-child(1) {    top: 0;  }
#t-hamburger-menu span:nth-child(2) {    top: 9px;  }
#t-hamburger-menu span:nth-child(3) {     top: 18px;  }

.menu{
        width: 100%;
        height: 100%;
        transform: translateY(10%);
        margin-left: -10%        
    }
    
.menu > li{
    text-align: right; 
    line-height:3rem;
    background:#fff;
    z-index: -9999;
    font-size:2em;
    margin: 30px 0;
    
}

 .menu>li> ul > li{
    text-align: right; 
    line-height:3rem;
    background:#ededed;;
    z-index: -9999;
   font-size: 1.5rem;
   width: 110%;
    padding: 0 10%;
} 



.menu > li:hover .submenu{
       
     height: 100%;
     transition-duration:1s;
    background:rgba(0, 0, 0, 0.4);
    width: 110%;
 
}

.menu > li:hover .submenu>li>a{
    width:100%;  
    height: 100%;
   width: 110%;
   padding: 0 10%;
}

.cross{
    background: none;
    position: absolute;
    left: 3px; top: 20px;
    color: #111; border: 0;
    font-size: 3.5em;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99999999;
}


.menu li  ul {display:none;}
    
    /*메뉴끝*/
    
    
    
    
    
    
    #t-mmain{width: 100%; }
    #t-mmain img{width: 100%;height: 100vh;}
    
    
    
    /*예약*/
    
    /* #t-reservation{width: 100%; background: #ccc;height: 90px;}
     
     #t-reservation form{width:90%;display: flex;align-items: center;line-height: 37px;justify-content: space-between;margin: 0 auto;top: 3px;}
    
     #t-reservation .CheckIn, .CheckOut {background: none; border:none;color: #fff;text-align: center;} 
    
    
     #t-reservation #t-box1{background: #666; height: 14px;color: #fff;width: 14%;border-radius: 10px;text-align: center;margin-top: 5px;border:2px solid #fff;margin-right: 7px ;}
    
     #t-reservation .box1{color: #fff;background: none; border: none; ;font-family: "Montserrat", sans-serif;
        text-align: center;width: 40%;
    }
    
    
     #t-reservation #t-box2{display: inline-block;background: #666; height: 54px;color: #fff;width: 14%;border-radius: 10px;text-align: center;border:2px solid #fff;margin-right: 7px}
    
    #t-reservation .box2{color: #fff;background: none; border: none; font-family: "Montserrat", sans-serif;} 
    
    .t-box6{display: inline-block;width: 14%;}
    .t-box6 p{color:#515861; height: 37px; font-weight:bold; margin-bottom:5px;font-family: "Montserrat", sans-serif;}
    .minus{width:14%; height:54px; appearance:none; border-radius:5px 0 0 5px; background:#666; color:#fff;  font-weight:bold; border: 2px solid #fff; border-right: none;}
    
    .plus{width:30%; height:54px; appearance:none; border-radius:0 5px 5px 0; background:#666; color:#fff; font-size:0.9rem; font-weight:bold;  border: 2px solid #fff; border-right: none;}
    
    .mpbox{width:30%; height:54px; text-align:center;border: 2px solid #fff; border-right: none;border-left: none;}
    .box6 input{float:left; display:block;}
    
    button{width:30%; height:54px; appearance:none;border: 2px solid#fff; border-radius:5px; background:#666; color:#fff; font-size:1.5em; font-weight:bold;font-family: "Montserrat", sans-serif;letter-spacing: 5px;}  */
    
    
    #t-two{width:100%; height: 940px;}
    
    
    
    #t-text1{color: #db8e2b;font-size: 2rem; text-align: center; margin-top: 100px; font-family: "Montserrat", sans-serif;}
    #t-text2{font-size: 3.2rem; text-align: center;margin-top: 30px; font-weight: bold; font-family: "Montserrat", sans-serif;}
    #t-text3{text-align: center; font-size: 1.1rem;height:2rem;margin-top: 30px;;}
    
    
    #t-show{width: 90%; margin:0 auto; text-align: center;margin-top: 90px;}
    .t-imgbox img{width: 100%;} 
    
    
    
    #t-three{text-align: center;position: relative;height: 865px;display: block;}
    #t-event{position: relative;width: 95%;height:100px; left:50%;transform: translate(-50%); }
    #t-event img{height: 450px;left: 0; position: absolute;width: 70%;margin-bottom: 50px;}
    
    #t-backcover{width: 50%; height: 580px; background: #102c4f;top
    :115%;z-index: 999;right: 0;position: absolute;
    animation-name: move, fadeInLeft;
          animation-duration: 5s;
          /* animation-iteration-count: infinite;} */}
    
    #t-cover{width: 90%; height: 520px; border: 1px solid #fff;margin:27px auto;text-align: center;}
    #t-cover li{color: #fff; margin-top: 30px; font-size: 2em;}
    #t-cover li a{color: #fff;font-size: 120%;font-family: "Montserrat", sans-serif;}
    
    #t-event #t-magic{width:45%;height:155px; z-index: 9999; top:600px; left: 0px;animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: 1;}  
    
    
    .animated{animation-duration:1s;}
    
    .fadeInLeft{animation-name:fadeInLeft;}
    @keyframes fadeInLeft{
        0%{
            opacity:0;
            transform:translateX(-20px);
        }
        100%{
            opacity:1;
            transform:translateX(0);
        }
    }
    .delay-05s{animation-delay:0.5s}
    .delay-2s{animation-delay:1s}
    
    #magic{visibility: hidden;}
    .fadeIn{visibility: visible;}


#t-new #t-title{position:relative;width: 100%; height:500px; background: #102c4f; color:#fff; font-size: 2rem; font-family: "Montserrat", sans-serif;text-align: center; padding-top: 15px;top:80px;display:block;}


.t-container {
    margin-top: -40px;
}
.t-item img{width: 100%;height: 330px;margin-top: 20px;margin-bottom: 15px;}
.t-item ul li a span{color:#fff; font-size: 100%; font-family: "Montserrat", sans-serif;/*left: 50%; transform: translateY(-50%);*/}




/*px*/

@media screen and (min-width:1200px){

    #one{display: none;}  
    #main{display: none;}
    #two{display: none!important;}
    #three{display: none;}
    #four{display: none;}

    #t-one{display: none;}
    #t-main{display: none;}
    #t-two{display: none;}
    #t-three{display: none!important;}
    #t-four{display: none;} 

    #p-one{display: block;}
    #p-two{display: block;}
    #pmain{display: block;}
    #p-three{display: block!important;}
    #p-four{display: block!important;}


}
#p-one{width:100%;height: 60px;position: fixed;
    left: 0; top: 0px; background: #fff;z-index: 9999;}

    #p-logo{position:absolute;left: 10px;bottom: 8px;}

   .p-menu {
    width: 80%;
    position: relative;
    font-size: 1rem;
    margin-top: 50%;
    margin: 0 auto;
    
}

#logo00 img {
    width: 80px;
    height: 50px;

}
 .p-menu ul li{
    float:left;
    width: 20%;
    padding-top: 23px;
    text-align: center;

 }

 #mypage img {
    width: 25px;
    height: 25px;
    float: right;
    margin-top: 15px;
    
}
 

 .p-sub li, .p-sub1 li, .p-sub2 li, .p-sub3 li, .p-sub4 li{
    display: inline-block;
 }
 
 .p-sub1{
    /* display: none; */
    width: 100%;
    height: 30px;
    position: absolute;
    left:0;
 } 
 
 .p-sub2{
    /* display: none; */
    width: 100%;
    height: 30px;
    position: absolute;
    left:0;

 } 
 
 .p-sub3{
    /* display: none; */
    width: 100%;
    height: 30px;
    position: absolute;
    left:0;

 } 
 
 .p-sub4 { 
    /* display: none; */
    width: 100%;
    height: 30px;
    position: absolute;
    left:0;

 }


    
    
    #pmain{width: 100%; text-align: center;}
     #pmain img{width: 100%;height: 100%;} 
    
    
    
    /*예약*/
    
    /*#reservation{width: 100%; background: #ccc;height: 90px;}
     
     #reservation form{width:90%;display: flex;align-items: center;line-height: 37px;justify-content: space-between;margin: 0 auto;top: 3px;}
    
     #reservation .CheckIn, .CheckOut {background: none; border:none; font-size: 0.9rem;height: 37px;color: #fff;text-align: center;} 
    
    
     #reservation #box1{display:inline-block;background: #666; height: 80px;color: #fff;width: 30%;border-radius: 10px;text-align: center;margin-top: 5px;border:2px solid #fff;margin-right: 7px ;}
    
     #reservation .box1{color: #fff;background: none; border: none; ;font-family: "Montserrat", sans-serif;
        text-align: center;
    }
    
    
     #reservation #box2{display: inline-block;background: #666; height: 80px;color: #fff;width: 30%;border-radius: 10px;text-align: center;border:2px solid #fff;margin-right: 7px}
    
    #reservation .box2{color: #fff;background: none; border: none; font-family: "Montserrat", sans-serif;} 
    
    .box6{display: inline-block;width: 30%;}
    .box6 p{color:#515861; font-size:0.9rem;height: 37px; font-weight:bold; margin-bottom:5px;font-family: "Montserrat", sans-serif;}
    .minus{width:30%; height:80px; appearance:none; border-radius:5px 0 0 5px; background:#666; color:#fff; font-size:0.9rem; font-weight:bold; border: 2px solid #fff; border-right: none;}
    
    .plus{width:30%; height:80px; appearance:none; border-radius:0 5px 5px 0; background:#666; color:#fff; font-size:0.9rem; font-weight:bold;  border: 2px solid #fff; border-right: none;}
    
    .mpbox{width:30%; height:80px; text-align:center; font-size:1.2rem;border: 2px solid #fff; border-right: none;border-left: none;}
    .box6 input{float:left; display:block;}
    
    button{width:30%; height:80px; appearance:none;border: 2px solid#fff; border-radius:5px; background:#666; color:#fff; font-size:0.9rem; font-weight:bold;font-family: "Montserrat", sans-serif;} 
    */
    /*예약끝*/
    
    #p-two{width:100%; height: 1350px;}
    
    
    
    #p-text1{color: #db8e2b;font-size: 2rem; text-align: center; margin-top: 100px; font-family: "Montserrat", sans-serif;}
    #p-text2{font-size: 3.2rem; text-align: center;margin-top: 30px; font-weight: bold; font-family: "Montserrat", sans-serif;}
    #p-text3{text-align: center; font-size: 1.1rem;height:2rem;margin-top: 30px;;}
    
    
    #p-show{width: 90%; margin:0 auto; text-align: center;margin-top: 150px;}
    .p-imgbox img{width: 100%;} 
    
    
    
    #p-three{text-align: center;position: relative;height: 1050px;display: block;}
    #p-event{position: relative;width: 95%;height:100px; left:50%;transform: translate(-50%); }
    #p-event img{height: 650px;left: 0; position: absolute;width: 70%;}
    
    #p-backcover{width: 50%; height: 900px; background: #102c4f;top
    :115%;z-index: 999;right: 0;position: absolute;
    animation-name: move, fadeInLeft;
          animation-duration: 5s;
          /* animation-iteration-count: infinite;} */}
    
    #p-cover{width: 90%; height: 800px; border: 1px solid #fff;margin:45px auto;text-align: center;}
    #p-cover li{color: #fff; margin-top: 30px; font-size: 300%;}
    #p-cover li a{color: #fff;font-size: 120%;font-family: "Montserrat", sans-serif;}
    
    #p-event #p-magic{top: 822px;
        width: 37%;
        height: 390%;
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: 1;}    
    
    
    .animated{animation-duration:1s;}
    
    .fadeInLeft{animation-name:fadeInLeft;}
    @keyframes fadeInLeft{
        0%{
            opacity:0;
            transform:translateX(-20px);
        }
        100%{
            opacity:1;
            transform:translateX(0);
        }
    }
    .delay-05s{animation-delay:0.5s}
    .delay-2s{animation-delay:1s}
    
    .fadeIn{visibility: visible;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*마지막*/
    #p-four{width:80%;margin: 0 auto;}
    #p-grid{margin-top: 300px;width: 10
        0%;  background:#102c4f;display: grid; grid-template-columns:repeat(12,1fr) ;grid-template-rows: repeat(3,1fr);}
     #p-grid div{color: #fff; text-align: center;font-size: 2em;} 
    #p-grid img{width: 100%; height: 100%;}
    
    #p-grid div:nth-child(1){grid-column: 1/7; grid-row: 1/2; font-size: 3em;margin: auto;}
    #p-grid div:nth-child(2){grid-column: 7/10 ;grid-row: 1/2;}
     #p-grid div:nth-child(3){grid-column: 10/13; grid-row: 1/2;margin: auto;}
    
    #p-grid div:nth-child(4){grid-column: 1/4; grid-row: 2/3;margin: auto;}
    #p-grid div:nth-child(5){grid-column: 4/7; grid-row: 2/3;}
    #p-grid div:nth-child(6){grid-column: 7/10; grid-row: 2/3;margin: auto;}  
    #p-grid div:nth-child(7){grid-column: 10/13; grid-row: 2/3;}
    
    #p-grid div:nth-child(8){grid-column: 1/4; grid-row: 3/4;}
    #p-grid div:nth-child(9){grid-column: 4/7; grid-row: 3/4;margin: auto;}
    #p-grid div:nth-child(10){grid-column: 7/10; grid-row: 3/4;}
    #p-grid div:nth-child(11){grid-column: 10/13; grid-row: 3/4;margin: auto;}
    
    
    
    
    
    
    
    
    
    
    
    
    footer{border-top:1px solid #000; display:block;margin-top:120px}
    #right h3 {text-align:center; font-weight:bold;font-size: 2rem;margin:15px}
    
    #left h3 {text-align:center; font-weight:bold;font-size: 1.5rem;margin:15px}
    
    
    footer section{display:flex;flex-wrap:wrap;}
    /* section #right h3{border-bottom: 1px solid #000;} */
    
    section #left{width: 50%;;}
    section #left p {padding:0 0 3px 15px;font-size: 1.2em;}
    section #left img{margin-top: 31px;}
    section #left #by{margin-left: 15px;}
    section #left p img{margin: 3px 0 0 0; }
    
    section #right{width:50%;text-align: center;}
    
    
    #right ul li a{color: #000;font-size: 1.2em;}
    #right #right1{float: left;width:45%;margin-top: 15px;clear: both;}
    
    #right #right2{width:45%;float: left;margin-top: 15px;}
    section #right #last{width:90%;text-align:left;clear: both;margin-top: 20px;}
    section #right #last p{margin-top: 4px;font-size: 1.2em;}
    
    .custom-fraction {text-align:right; margin:15px 5px 0 0;}
    

    #z{margin-bottom: 5px;}
    #last img{margin-top: 15px;}
    #text{text-align: center;}
    